extends layout

block links
  link(rel="stylesheet", href="stylesheets/index.css")
block content
  h1
    = "Property Management 1,000,000!!!"
  #splashContainer
    #splashCover
    img(src="http://www.care2cure.com/sites/default/files/list21.jpg")#spashImage


