doctype html
html
  head
    title Property Manager 2000!!!
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.css")
    link(rel="stylesheet", href='/stylesheets/style.css')
  body
    .row.nav
        a(href="/")#home
            button.btn.btn-default Home
        a(href="/tenants")#tenantsNav
            button.btn.btn-default Tenants
        a(href="/add")#add
            button.btn.btn-default Add
    .container
        block content
    script(src="https://code.jquery.com/jquery-2.2.0.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js")
    block scripts
